ENVIRONMENT=development
DEBUG=false
LOG_LEVEL=INFO

SQLALCHEMY_DATABASE_URL=

VERTEX_AI_SERVICE_ACCOUNT_FILE=secrets/*.json
VERTEX_AI_MODEL=

FLEETENABLE_AUTH_BASE_URL=
STATIC_CLIENT_ID=
STATIC_CLIENT_SECRET=
